# Prediccón de gastos medicos

Para utilizar este notebook seguir los pasos listados a continuación:
1. Descargar dataset desde Kaggle ([Medical Cost Personal Dataset](https://www.kaggle.com/datasets/mirichoi0218/insurance?select=insurance.csv))
2. Descomprimir el arhcivo `.zip`
3. Colocar el archivo `insurance.csv` en la carpeta `data/raw`


Columnas (variables) del dataset:
- `age`: Edad del asegurado
- `sex`: Género binario del asegurado
- `bmi`: Indice de masa corporal
- `children`: Cantidad de hijos
- `smoker`: Si el paciente es fumador o no fumador
- `region`: Región en la que vive el paciente
- `charges`: La cantidad que pagó de seguro

## Librerías

In [1]:
# Comandos para importar modulos propios de este proyecto.
%load_ext autoreload
%autoreload 2

In [2]:
# Manipulación y visualización de datos
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Manejo de rutas
import sys
sys.path.append("..")

import modules.utils.paths as path

# Configuración de seaborn
sns.set_style(style="whitegrid")

## Carga de los datos

In [16]:
file_path = path.data_raw_dir("insurance.csv")

df = pd.read_csv(file_path)
display(df.shape, df.head())

(1338, 7)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Primer vistazo a los datos

¿Cuales son los estadisticos que describen mejor a los datos?

In [4]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

¿Con que tipos de datos contamos?

In [9]:
display(
  df.info(),
  df.dtypes.value_counts(),
  df.head(3)
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

None

object     3
int64      2
float64    2
dtype: int64

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [12]:
df["smoker"].unique()

array(['yes', 'no'], dtype=object)

¿Existen valores faltantes o valores duplicados en el dataset?

In [14]:
print("Total de valores faltantes:", df.isna().sum().sum())
print("Total de valores duplicados:", df.duplicated().sum())

Total de valores faltantes: 0
Total de valores duplicados: 1

In [15]:
df[df.duplicated()]

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

## Limpieza

En el vistazo inicial de los datos encontramos dos aspectos importantes
1. La variable `smoker` tiene dos valores `yes` y `no`, la cual transformaremos a valores booleanos.
2. Existe un registro repedido en el dataset, el cual eliminaremos

In [21]:
# Cambio de tipo de dato
df["smoker"] = df["smoker"].apply(lambda s: True if s == "yes" else False)
display(
  df["smoker"].dtype,
  df["smoker"].unique()
)

dtype('bool')

array([ True, False])

In [22]:
df.drop_duplicates(keep="first", inplace=True)
print("Total de valores duplicados:", df.duplicated().sum())

Total de valores duplicados: 0

## Análisis de los datos